# Introduction

This Jupyter notebook is a tool used to build a free and open-source algorithm for betting on tennis matches. The algorithm will ideally be able to predict the outcomes of singles matches in ATP, WTA, and the ATP Challenger Series. More information available in the [GitHub repo](https://github.com/nschimmoller/model-card-tennis)

Most of the code and data used for this project has been sourced from two places:

- [Tennis-Betting-ML Code written by GitHub user BrandonPolistirolo](https://github.com/BrandoPolistirolo/Tennis-Betting-ML) served as the basis for data and model structure along with training.

  - Brandon's model was based on a dataset from Kaggle called [Large Tennis Dataset for ATP and ITF Betting](https://www.kaggle.com/ehallmar/a-large-tennis-dataset-for-atp-and-itf-betting?select=all_matches.csv). However, this dataset is not being maintained and will eventually need to be supplemented.
- [JeffSackmann's Tennis_ATP GitHub Repo](https://github.com/JeffSackmann/tennis_atp) will be used to supplement the Kaggle Data.

In each section of this notebook, there will be a brief explanation of what the code being executed does. To execute the code, the user should only have to click the "Run" button for each cell.

# Match Ingestion and Processing

## Overview

This code performs several data processing tasks on two datasets related to tennis matches and tournaments. The processed data is then saved as a CSV and a Pickle file, and also as separate CSV files for each tournament.

## Steps
- **Remove old data:** The code removes any tournaments or matches that occurred before the year 2000.
- **Create unique identifiers:** The code creates a unique identifier for each tournament based on the tournament name and year, and adds it as a new column to the tournaments dataset. It also adds a similar column to the matches dataset.
- **Remove doubles matches:** The code removes any matches that were doubles matches.
- **Remove incomplete matches:** The code removes any matches where the number of sets played was not recorded.
- **Merge the matches data with itself:** The code merges the matches dataset with itself to create a new dataset where each row represents a pair of players who played against each other in a match.
- **Rename columns:** The code renames the columns in the merged dataset to indicate which player each column refers to.
- **Save the processed data:** The code saves the processed data as a CSV and a Pickle file.
- **Save tournament data:** The code saves separate CSV files for each tournament.


## Output
The output of the code is a CSV file containing processed data on tennis matches, as well as separate CSV files for each tournament. You can examine the results of this function by reading in either: 'final_kaggle_dataset.csv' or 'final_kaggle_dataset.pkl'; alternatively you can access this data via variable result, which is a Pandas DataFrame.

In [ ]:
%run -i 'Kaggle_Tennis_Data_PreProcessing_ChatGPT.py'

Reading in data
	Elapsed time since last call: 4.58 minutes)

/Users/nate.schimmoller/opt/anaconda3/lib/python3.9/site-packages/IPython/utils/py3compat.py:168: DtypeWarning: Columns (5,8,10,45,48) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(compiler(f.read(), fname, 'exec'), glob, loc)

Removing old tournaments
	Elapsed time since last call: 20.33 seconds)

Creating unique tournament_ids
	Elapsed time since last call: 3.20 seconds)

Removing Doubles Matches
	Elapsed time since last call: 3.15 seconds)

Removing erroneous matches
	Elapsed time since last call: 2.84 seconds)

Perform self join
	Elapsed time since last call: 2.81 seconds)

Rename columns with suffixes
	Elapsed time since last call: 13.51 seconds)

Reorder columns
	Elapsed time since last call: 40.84 seconds)

Save dataframe as CSV
	Elapsed time since last call: 1.59 seconds)

In [12]:
# z = pd.read_csv("all_matches.csv", parse_dates=True)
# pd.set_option('max_columns', None)
example_original = z[(
    (z['player_id'].isin(['andrej-martin', 'adrian-partl'])) 
    & 
    (z['opponent_id'].isin(['andrej-martin', 'adrian-partl']))
)]
example_original.to_csv('example_original.csv')
example_original

,start_date,end_date,location,court_surface,prize_money,currency,year,player_id,player_name,opponent_id,opponent_name,tournament,round,num_sets,sets_won,games_won,games_against,tiebreaks_won,tiebreaks_total,serve_rating,aces,double_faults,first_serve_made,first_serve_attempted,first_serve_points_made,first_serve_points_attempted,second_serve_points_made,second_serve_points_attempted,break_points_saved,break_points_against,service_games_won,return_rating,first_serve_return_points_made,first_serve_return_points_attempted,second_serve_return_points_made,second_serve_return_points_attempted,break_points_made,break_points_attempted,return_games_played,service_points_won,service_points_attempted,return_points_won,return_points_attempted,total_points_won,total_points,duration,player_victory,retirement,seed,won_first_set,doubles,masters,round_num,nation
0,2012-06-11,2012-06-17,Slovakia,Clay,30000.0,â‚¬,2012,adrian-partl,A. Partl,andrej-martin,A. Martin,kosice_challenger,2nd Round Qualifying,2.0,0.0,3.0,12.0,0.0,0.0,149.0,0.0,5.0,27.0,44.0,12.0,27.0,4.0,17.0,1.0,7.0,8.0,198.0,8.0,30.0,8.0,14.0,1.0,1.0,7.0,16.0,44.0,16.0,44.0,32.0,88.0,01:02:00,f,f,NaN,f,f,100,1,Slovakia
26,2012-06-11,2012-06-17,Slovakia,Clay,30000.0,â‚¬,2012,andrej-martin,A. Martin,adrian-partl,A. Partl,kosice_challenger,2nd Round Qualifying,2.0,2.0,12.0,3.0,0.0,0.0,268.0,0.0,1.0,30.0,44.0,22.0,30.0,6.0,14.0,0.0,1.0,7.0,293.0,15.0,27.0,13.0,17.0,6.0,7.0,8.0,28.0,44.0,28.0,44.0,56.0,88.0,01:02:00,t,f,8,t,f,100,1,Slovakia

In [2]:
x = pd.read_csv('final_kaggle_dataset.csv', parse_dates=True)

/Users/nate.schimmoller/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7,8,12,48,87) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
pd.set_option('max_columns', None)
x.head()
# example_new = x[(
#     (x['player_id'].isin(['andrej-martin', 'adrian-partl'])) 
#     & 
#     (x['opponent_id'].isin(['andrej-martin', 'adrian-partl']))
# )]
# example_new.to_csv('example_new.csv')
# example_new

,start_date,end_date,location,court_surface,prize_money,currency,year,player_name,opponent_name,tournament,round,num_sets,duration,nation,tournament_id,sets_won_1,games_won_1,games_against_1,tiebreaks_won_1,tiebreaks_total_1,serve_rating_1,aces_1,double_faults_1,first_serve_made_1,first_serve_attempted_1,first_serve_points_made_1,first_serve_points_attempted_1,second_serve_points_made_1,second_serve_points_attempted_1,break_points_saved_1,break_points_against_1,service_games_won_1,return_rating_1,first_serve_return_points_made_1,first_serve_return_points_attempted_1,second_serve_return_points_made_1,second_serve_return_points_attempted_1,break_points_made_1,break_points_attempted_1,return_games_played_1,service_points_won_1,service_points_attempted_1,return_points_won_1,return_points_attempted_1,total_points_won_1,total_points_1,player_victory_1,retirement_1,seed_1,won_first_set_1,doubles_1,masters_1,round_num_1,match_id_player_1,sets_won_2,games_won_2,games_against_2,tiebreaks_won_2,tiebreaks_total_2,serve_rating_2,aces_2,double_faults_2,first_serve_made_2,first_serve_attempted_2,first_serve_points_made_2,first_serve_points_attempted_2,second_serve_points_made_2,second_serve_points_attempted_2,break_points_saved_2,break_points_against_2,service_games_won_2,return_rating_2,first_serve_return_points_made_2,first_serve_return_points_attempted_2,second_serve_return_points_made_2,second_serve_return_points_attempted_2,break_points_made_2,break_points_attempted_2,return_games_played_2,service_points_won_2,service_points_attempted_2,return_points_won_2,return_points_attempted_2,total_points_won_2,total_points_2,player_victory_2,retirement_2,seed_2,won_first_set_2,doubles_2,masters_2,round_num_2,match_id_player_2
0,2012-06-11,2012-06-17,Slovakia,Clay,30000.0,â‚¬,2012,A. Martin,A. Partl,kosice_challenger,2nd Round Qualifying,2.0,01:02:00,Slovakia,kosice_challenger_2012,0.0,3.0,12.0,0.0,0.0,149.0,0.0,5.0,27.0,44.0,12.0,27.0,4.0,17.0,1.0,7.0,8.0,198.0,8.0,30.0,8.0,14.0,1.0,1.0,7.0,16.0,44.0,16.0,44.0,32.0,88.0,f,f,NaN,f,f,100,1,andrej-martin_adrian-partl_kosice_challenger_2...,2.0,12.0,3.0,0.0,0.0,268.0,0.0,1.0,30.0,44.0,22.0,30.0,6.0,14.0,0.0,1.0,7.0,293.0,15.0,27.0,13.0,17.0,6.0,7.0,8.0,28.0,44.0,28.0,44.0,56.0,88.0,t,f,8,t,f,100,1,adrian-partl_andrej-martin_kosice_challenger_2...
1,2012-06-11,2012-06-17,Slovakia,Clay,30000.0,â‚¬,2012,J. Kovalik,A. Partl,kosice_challenger,1st Round Qualifying,3.0,02:43:00,Slovakia,kosice_challenger_2012,2.0,16.0,12.0,0.0,0.0,249.0,2.0,8.0,49.0,104.0,37.0,49.0,26.0,55.0,12.0,14.0,14.0,159.0,11.0,40.0,27.0,51.0,4.0,8.0,14.0,63.0,104.0,38.0,91.0,101.0,195.0,t,f,NaN,t,f,100,0,jozef-kovalik_adrian-partl_kosice_challenger_2...,1.0,12.0,16.0,0.0,0.0,233.0,1.0,3.0,40.0,91.0,29.0,40.0,24.0,51.0,4.0,8.0,14.0,105.0,12.0,49.0,29.0,55.0,2.0,14.0,14.0,53.0,91.0,41.0,104.0,94.0,195.0,f,f,NaN,f,f,100,0,adrian-partl_jozef-kovalik_kosice_challenger_2...
2,2012-06-11,2012-06-17,Slovakia,Clay,30000.0,â‚¬,2012,D. Hrbaty,A. Velotti,kosice_challenger,Round of 32,2.0,01:17:00,Slovakia,kosice_challenger_2012,0.0,7.0,12.0,0.0,0.0,225.0,1.0,1.0,34.0,54.0,16.0,34.0,12.0,20.0,1.0,5.0,9.0,139.0,15.0,40.0,13.0,32.0,2.0,5.0,10.0,28.0,54.0,28.0,72.0,56.0,126.0,f,f,NaN,f,f,100,3,dominik-hrbaty_agustin-velotti_kosice_challeng...,2.0,12.0,7.0,0.0,0.0,256.0,6.0,8.0,40.0,72.0,25.0,40.0,19.0,32.0,3.0,5.0,10.0,217.0,18.0,34.0,8.0,20.0,4.0,5.0,9.0,44.0,72.0,26.0,54.0,70.0,126.0,t,f,WC,t,f,100,3,agustin-velotti_dominik-hrbaty_kosice_challeng...
3,2012-06-11,2012-06-17,Slovakia,Clay,30000.0,â‚¬,2012,H. Heliovaara,A. Giannessi,kosice_challenger,Round of 32,3.0,02:32:00,Slovakia,kosice_challenger_2012,2.0,17.0,15.0,1.0,1.0,276.0,1.0,7.0,68.0,104.0,47.0,68.0,22.0,36.0,4.0,6.0,16.0,127.0,13.0,54.0,18.0,36.0,2.0,5.0,15.0,69.0,104.0,31.0,90.0,100.0,194.0,t,f,1,t,f,100,3,harri-heliovaara_alessandro-giannessi_kosice_c...,1.0,15.0,17.0,0.0,1.0,276.0,7.0,3.0,54.0,90.0,41.0,54.0,18.0,36.0,3.0,5.0,15.0,115.0,21.0,68.0,14.0,36.0,2.0,6.0,16.0,59.0,90.0,35.0,104.0,94.0,194.0,f,f,NaN,f,f,100,3,alessandro-giannessi_harri-heliovaara_kosice_c...
4,2012-06-11,2012-06-17,Slovakia,Clay,30000.0,â‚¬,2012,N. Langer,A. Giannessi,kosice_challenger,Round of 16,2.0,01:08:00,Slovakia,kosice_challenger_2012,2.0,12.0,4.0,0.0,0.0,278.0,1.0,2.0,34.0,50.0,23.0,34.0,9.0,16.0,1.0,2.0,8.0,216.0,18.0,34.0,13.0,22.0,5.0,12.0,8.0,32.0,50.0,31.0,56.0,63.0,106.0,t,f,1,t,f,100,4,nils-langer_alessandro-giannessi_kosice_challe...,0.0,4.0,12.0,0.0,0.0,184.0,1.0,3.0,34.0,56.0,16.0,34.0,9.0,22.0,7.0,12.0,8.0,138.0,11.0,34.0,7.0,16.0,1.0,2.0,8.0,25.0,56.0,18.0,50.0,43.0,106.0,f,f,Q,f,f,100,4,alessandro-giannessi_nils-langer_kosice_challe...

In [35]:
y = pd.read_csv('final_df.csv', parse_dates=True)

/Users/nate.schimmoller/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,8,10,45,48,87) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [36]:
y[(
    (y['player_id'].isin(['andrej-martin', 'adrian-partl'])) 
    & 
    (y['opponent_id'].isin(['andrej-martin', 'adrian-partl']))
)]

,start_date,end_date,location,court_surface,prize_money,currency,year,player_id,player_name,opponent_id,opponent_name,tournament,round,num_sets,sets_won_1,games_won_1,games_against_1,tiebreaks_won_1,tiebreaks_total_1,serve_rating_1,aces_1,double_faults_1,first_serve_made_1,first_serve_attempted_1,first_serve_points_made_1,first_serve_points_attempted_1,second_serve_points_made_1,second_serve_points_attempted_1,break_points_saved_1,break_points_against_1,service_games_won_1,return_rating_1,first_serve_return_points_made_1,first_serve_return_points_attempted_1,second_serve_return_points_made_1,second_serve_return_points_attempted_1,break_points_made_1,break_points_attempted_1,return_games_played_1,service_points_won_1,service_points_attempted_1,return_points_won_1,return_points_attempted_1,total_points_won_1,total_points,duration,player_victory_1,retirement_1,seed_1,won_first_set_1,doubles,masters,round_num,nation_1,tournament_id,sets_won_2,games_won_2,games_against_2,tiebreaks_won_2,tiebreaks_total_2,serve_rating_2,aces_2,double_faults_2,first_serve_made_2,first_serve_attempted_2,first_serve_points_made_2,first_serve_points_attempted_2,second_serve_points_made_2,second_serve_points_attempted_2,break_points_saved_2,break_points_against_2,service_games_won_2,return_rating_2,first_serve_return_points_made_2,first_serve_return_points_attempted_2,second_serve_return_points_made_2,second_serve_return_points_attempted_2,break_points_made_2,break_points_attempted_2,return_games_played_2,service_points_won_2,service_points_attempted_2,return_points_won_2,return_points_attempted_2,total_points_won_2,player_victory_2,retirement_2,seed_2,won_first_set_2,nation_2
0,2012-06-11,2012-06-17,Slovakia,Clay,30000.0,â‚¬,2012,adrian-partl,A. Partl,andrej-martin,A. Martin,kosice_challenger,2nd Round Qualifying,2.0,0.0,3.0,12.0,0.0,0.0,149.0,0.0,5.0,27.0,44.0,12.0,27.0,4.0,17.0,1.0,7.0,8.0,198.0,8.0,30.0,8.0,14.0,1.0,1.0,7.0,16.0,44.0,16.0,44.0,32.0,88.0,01:02:00,f,f,NaN,f,f,100,1,Slovakia,kosice_challenger_2012,0.0,3.0,12.0,0.0,0.0,149.0,0.0,5.0,27.0,44.0,12.0,27.0,4.0,17.0,1.0,7.0,8.0,198.0,8.0,30.0,8.0,14.0,1.0,1.0,7.0,16.0,44.0,16.0,44.0,32.0,f,f,NaN,f,Slovakia

# Removing Duplicate Records

## Overview:

This Python code takes in a dataset of tennis match results and removes duplicate rows, before saving the cleaned dataset as a CSV file.

## Steps:

- Load a CSV file called "final_kaggle_dataset.csv"
- Call the "remove_doubles" function on the dataset to remove duplicated rows.
- Save the cleaned dataset as a new CSV file called "final_df.csv".

## Output:

A cleaned CSV file called "final_df.csv" that contains unique tennis match results without any duplicated rows.

In [2]:
%run -i 'Remove Double Matches.py'

Removing duplicate rows
Elapsed time since last call: 5.70 minutes (1151.31 seconds)

/Users/nate.schimmoller/opt/anaconda3/lib/python3.9/site-packages/IPython/utils/py3compat.py:168: DtypeWarning: Columns (6,9,11,46,49,88) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(compiler(f.read(), fname, 'exec'), glob, loc)

Done removing duplicate rows
Elapsed time since last call: 1.66 minutes (1251.07 seconds)

# Player Data Ingestion and Processing

## Overview
This code reads in data about all tennis players and the ATP players from separate csv files, and merges them to create a final player dataset. It then filters out players with missing information, cleans up the player names, and exports the resulting cleaned dataset to two new files: players_data.csv and players_data.pkl.

## Steps
- Read in all player data
- Read in ATP player data
- Add an underscore to player names where missing, and filter out any rows with missing player IDs
- Clean player names by replacing spaces with dashes, joining with surname, and converting to lower case
- Merge cleaned data with original data on player ID, and filter out players with missing date of birth (DOB)
- Format DOB as date, and drop useless columns
- Export cleaned dataset to players_data.csv and players_data.pkl

## Output
- players_data.csv: a csv file containing the cleaned player dataset
- players_data.pkl: a pickle file containing the cleaned player dataset

In [3]:
%run -i 'Players_Data_PreProc.py'

Reading in all player data
Elapsed time since last call: 7.68 minutes (1712.08 seconds)
Reading in atp player_data
Elapsed time since last call: 0.48 seconds (1712.55 seconds)
Add underscore to name
Elapsed time since last call: 0.18 seconds (1712.74 seconds)
Filter out missing player ids
Elapsed time since last call: 0.20 seconds (1712.94 seconds)
Clean player name
Elapsed time since last call: 0.02 seconds (1712.97 seconds)
Join clean and original player data
Elapsed time since last call: 0.07 seconds (1713.03 seconds)
Remove players with missing date of birth (DOB), and format as date
Elapsed time since last call: 0.15 seconds (1713.18 seconds)
Export data to players_data.csv and players_data.pkl
Elapsed time since last call: 0.08 seconds (1713.26 seconds)

# Clean Player Data

## Overview:

This Python code imports two different datasets - matches data and players data - and merges them based on the player ID. After the merge, it filters out players born before 1960 and exports the remaining player data to a CSV file.

## Steps:

- Import match data and player data into separate dataframes
- Convert the date of birth column to a datetime object
- Merge the matches dataframe with the player dataframe on the 'player_id' column
- Filter the resulting dataframe to only include players born after 1960
- Export the filtered player data to a CSV file

## Output:

The final output is a CSV file containing player data for only those players who were born after 1960 and have played matches in the matches dataset.

In [4]:
%run -i 'Players_names_fix_ChatGPT.py'

Importing match data
Elapsed time since last call: 11.16 minutes (2383.06 seconds)

/Users/nate.schimmoller/opt/anaconda3/lib/python3.9/site-packages/IPython/utils/py3compat.py:168: DtypeWarning: Columns (6,9,11,46,49,88) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(compiler(f.read(), fname, 'exec'), glob, loc)

Importing player data
Elapsed time since last call: 16.39 seconds (2399.45 seconds)
Merging match data with player data
Elapsed time since last call: 0.04 seconds (2399.49 seconds)
Removing players born before 1960
Elapsed time since last call: 0.76 seconds (2400.25 seconds)
Saving player data
Elapsed time since last call: 0.32 seconds (2400.57 seconds)

In [6]:
matches_df = pd.read_csv("final_df.csv", parse_dates=True)
matches_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1123133 entries, 0 to 1123132
Data columns (total 90 columns):
 #   Column                                  Non-Null Count    Dtype
---  ------                                  --------------    -----
 0   start_date                              1123133 non-null  object
 1   end_date                                1123100 non-null  object
 2   location                                1123133 non-null  object
 3   court_surface                           1122846 non-null  object
 4   prize_money                             126065 non-null   float64
 5   currency                                126065 non-null   object
 6   year                                    1123133 non-null  int64
 7   player_id                               1123133 non-null  object
 8   player_name                             94106 non-null    object
 9   opponent_id                             1123133 non-null  object
 10  opponent_name                           94106 non-null    object
 11  tournament                              1123133 non-null  object
 12  round                                   1123133 non-null  object
 13  num_sets                                1123133 non-null  float64
 14  sets_won_1                              1123133 non-null  float64
 15  games_won_1                             1123133 non-null  float64
 16  games_against_1                         1123133 non-null  float64
 17  tiebreaks_won_1                         1123133 non-null  float64
 18  tiebreaks_total_1                       1123133 non-null  float64
 19  serve_rating_1                          94106 non-null    float64
 20  aces_1                                  94106 non-null    float64
 21  double_faults_1                         94106 non-null    float64
 22  first_serve_made_1                      94106 non-null    float64
 23  first_serve_attempted_1                 94106 non-null    float64
 24  first_serve_points_made_1               94106 non-null    float64
 25  first_serve_points_attempted_1          94106 non-null    float64
 26  second_serve_points_made_1              94106 non-null    float64
 27  second_serve_points_attempted_1         94106 non-null    float64
 28  break_points_saved_1                    94106 non-null    float64
 29  break_points_against_1                  94106 non-null    float64
 30  service_games_won_1                     94106 non-null    float64
 31  return_rating_1                         94106 non-null    float64
 32  first_serve_return_points_made_1        94106 non-null    float64
 33  first_serve_return_points_attempted_1   94106 non-null    float64
 34  second_serve_return_points_made_1       94106 non-null    float64
 35  second_serve_return_points_attempted_1  94106 non-null    float64
 36  break_points_made_1                     94106 non-null    float64
 37  break_points_attempted_1                94106 non-null    float64
 38  return_games_played_1                   94106 non-null    float64
 39  service_points_won_1                    94106 non-null    float64
 40  service_points_attempted_1              94106 non-null    float64
 41  return_points_won_1                     94106 non-null    float64
 42  return_points_attempted_1               94106 non-null    float64
 43  total_points_won_1                      94106 non-null    float64
 44  total_points                            94106 non-null    float64
 45  duration                                94104 non-null    object
 46  player_victory_1                        1123133 non-null  object
 47  retirement_1                            1121213 non-null  object
 48  seed_1                                  368982 non-null   object
 49  won_first_set_1                         1115018 non-null  object
 50  doubles                                 1123133 non-null  object
 51  masters                                 1123133 non-null  int64
 52  round_num                               1123133 non-null  int64
 53  nation_1                                1123133 non-null  object
 54  tournament_id                           1123133 non-null  object
 55  sets_won_2                              1123133 non-null  float64
 56  games_won_2                             1123133 non-null  float64
 57  games_against_2                         1123133 non-null  float64
 58  tiebreaks_won_2                         1123133 non-null  float64
 59  tiebreaks_total_2                       1123133 non-null  float64
 60  serve_rating_2                          94106 non-null    float64
 61  aces_2                                  94106 non-null    float64
 62  double_faults_2                         94106 non-null    float64
 63  first_serve_made_2                      94106 non-null    float64
 64  first_serve_attempted_2                 94106 non-null    float64
 65  first_serve_points_made_2               94106 non-null    float64
 66  first_serve_points_attempted_2          94106 non-null    float64
 67  second_serve_points_made_2              94106 non-null    float64
 68  second_serve_points_attempted_2         94106 non-null    float64
 69  break_points_saved_2                    94106 non-null    float64
 70  break_points_against_2                  94106 non-null    float64
 71  service_games_won_2                     94106 non-null    float64
 72  return_rating_2                         94106 non-null    float64
 73  first_serve_return_points_made_2        94106 non-null    float64
 74  first_serve_return_points_attempted_2   94106 non-null    float64
 75  second_serve_return_points_made_2       94106 non-null    float64
 76  second_serve_return_points_attempted_2  94106 non-null    float64
 77  break_points_made_2                     94106 non-null    float64
 78  break_points_attempted_2                94106 non-null    float64
 79  return_games_played_2                   94106 non-null    float64
 80  service_points_won_2                    94106 non-null    float64
 81  service_points_attempted_2              94106 non-null    float64
 82  return_points_won_2                     94106 non-null    float64
 83  return_points_attempted_2               94106 non-null    float64
 84  total_points_won_2                      94106 non-null    float64
 85  player_victory_2                        1123133 non-null  object
 86  retirement_2                            1121213 non-null  object
 87  seed_2                                  368982 non-null   object
 88  won_first_set_2                         1115018 non-null  object
 89  nation_2                                1123133 non-null  object
dtypes: float64(63), int64(3), object(24)
memory usage: 771.2+ MB

In [20]:
# Read in matches_df dataframe
matches_df = pd.read_csv("final_df.csv", parse_dates=True)

# Create a new column "matches_played" to count the number of matches played by each player so far
matches_df['matches_played'] = 1

# Sort dataframe
matches_df.sort_values('start_date', inplace=True)

# Calculate running total matches played for each player
matches_df['player_running_total_matches_played_1'] = matches_df.groupby('player_id')['matches_played'].cumsum()
matches_df['player_running_total_matches_played_2'] = matches_df.groupby('opponent_id')['matches_played'].cumsum()

# Calculate total number of matches played for each player
matches_df['player_total_matches_played_1'] = matches_df.groupby('player_id')['matches_played'].transform('sum')
matches_df['player_total_matches_played_2'] = matches_df.groupby('opponent_id')['matches_played'].transform('sum')

# Convert 't' and 'f' to 1 and 0 in player_1_victory and player_2_victory columns
matches_df['player_victory_1'] = matches_df['player_victory_1'].map({'t': 1, 'f': 0})
matches_df['player_victory_2'] = matches_df['player_victory_2'].map({'t': 1, 'f': 0})

# Calculate running total victories for each player
matches_df['player_total_running_victories_1'] = matches_df.groupby('player_id')['player_victory_1'].cumsum()
matches_df['player_total_running_victories_2'] = matches_df.groupby('opponent_id')['player_victory_2'].cumsum()

# Calculate total number of victories for each player
matches_df['player_total_victories_1'] = matches_df.groupby('player_id')['player_victory_1'].transform('sum')
matches_df['player_total_victories_2'] = matches_df.groupby('opponent_id')['player_victory_2'].transform('sum')

# Fill in missing values with 0 in relevant columns
matches_df[['player_running_total_matches_played_1', 'player_running_total_matches_played_2']] = matches_df[['player_running_total_matches_played_1', 'player_running_total_matches_played_2']].fillna(0)

# Select the desired columns for the new dataframe
new_df = matches_df[['player_id', 'opponent_id', 'start_date', 'player_victory_1', 'player_victory_2', 
                     'player_running_total_matches_played_1', 'player_running_total_matches_played_2',
                     'player_total_matches_played_1', 'player_total_matches_played_2',
                     'player_total_running_victories_1', 'player_total_running_victories_2',
                     'player_total_victories_1', 'player_total_victories_2']]

In [21]:
new_df.to_csv('running_matches_total.csv', index=False)

In [22]:
calculate_elo = pd.read_csv('running_matches_total.csv', parse_dates=True)

In [23]:
calculate_elo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1123133 entries, 0 to 1123132
Data columns (total 13 columns):
 #   Column                                 Non-Null Count    Dtype
---  ------                                 --------------    -----
 0   player_id                              1123133 non-null  object
 1   opponent_id                            1123133 non-null  object
 2   start_date                             1123133 non-null  object
 3   player_victory_1                       1123133 non-null  int64
 4   player_victory_2                       1123133 non-null  int64
 5   player_running_total_matches_played_1  1123133 non-null  int64
 6   player_running_total_matches_played_2  1123133 non-null  int64
 7   player_total_matches_played_1          1123133 non-null  int64
 8   player_total_matches_played_2          1123133 non-null  int64
 9   player_total_running_victories_1       1123133 non-null  int64
 10  player_total_running_victories_2       1123133 non-null  int64
 11  player_total_victories_1               1123133 non-null  int64
 12  player_total_victories_2               1123133 non-null  int64
dtypes: int64(10), object(3)
memory usage: 111.4+ MB

In [24]:
import pandas as pd
from typing import Tuple

player_elos = {}

def elo_calc(row: pd.Series, initial_elo=1500, max_elo_diff=800) -> Tuple[float, float]:
    """
    Calculates the new Elo ratings for two players after a match.

    Args:
        row (pd.Series): A pandas Series object containing match data.
        initial_elo (float, optional): The initial Elo rating for a new player. Defaults to 1500.
        max_elo_diff (float, optional): The maximum allowed Elo difference between two players. Defaults to 800.

    Returns:
        Tuple[float, float]: A tuple containing the new Elo ratings for both players.
    """
    player_1 = row['player_id']
    player_2 = row['opponent_id']
    elo_1 = player_elos.get(player_1, initial_elo)
    elo_2 = player_elos.get(player_2, initial_elo)
    w_1 = row['player_total_running_victories_1']
    w_2 = row['player_total_running_victories_2']
    m_1 = row['player_running_total_matches_played_1']
    m_2 = row['player_running_total_matches_played_2']

    elo_diff = min(max(elo_1 - elo_2, -max_elo_diff), max_elo_diff)
    expected_1 = 1 / (1 + 10 ** (elo_diff / 400))
    expected_2 = 1 - expected_1
    decay_1 = 250.0 / ((5 + m_1) ** 0.4)
    decay_2 = 250.0 / ((5 + m_2) ** 0.4)
    new_elo_1 = elo_1 + decay_1 * (w_1 - expected_1)
    new_elo_2 = elo_2 + decay_2 * (w_2 - expected_2)

    player_elos[player_1] = new_elo_1
    player_elos[player_2] = new_elo_2

    return new_elo_1, new_elo_2

def apply_elo(df: pd.DataFrame) -> pd.DataFrame:
    """Apply the Elo calculation to a DataFrame of tennis matches.

    Args:
        df (pandas.DataFrame): A DataFrame containing the player ID, opponent ID,
                               and other match statistics for each tennis match.

    Returns:
        pandas.DataFrame: The input DataFrame with two additional columns, 'elo_1'
                           and 'elo_2', containing the updated Elo ratings for the two players.

    Raises:
        None.
    """
    df['elo_1'], df['elo_2'] = zip(*df.apply(elo_calc, axis=1))
    return df

In [25]:
calculate_elo = apply_elo(calculate_elo)

In [26]:
calculate_elo[(calculate_elo['player_id'] == 'hugo-armando') | (calculate_elo['opponent_id'] == 'hugo-armando')].head(20)

,player_id,opponent_id,start_date,player_victory_1,player_victory_2,player_running_total_matches_played_1,player_running_total_matches_played_2,player_total_matches_played_1,player_total_matches_played_2,player_total_running_victories_1,player_total_running_victories_2,player_total_victories_1,player_total_victories_2,elo_1,elo_2
1,hugo-armando,mark-hilton,2000-01-01,1,1,1,1,153,154,1,1,82,61,1561.044918,1561.044918
2,hugo-armando,zack-fleishman,2000-01-01,1,1,2,1,153,273,2,1,82,127,1743.210425,1550.428265
20,gustavo-marcaccio,hugo-armando,2000-01-01,0,0,2,1,160,100,1,0,90,55,1590.831375,1711.529520
34,diego-ayala,hugo-armando,2000-01-01,0,0,1,2,105,100,0,0,60,55,1405.789158,1685.317628
54,hugo-armando,luiz-procopio-carvalho,2000-01-01,1,1,3,3,153,26,3,2,82,14,1969.064822,1760.948881
61,david-critchley,hugo-armando,2000-01-01,0,0,3,3,19,100,1,0,10,55,1633.070100,1956.187479
107,hugo-armando,yari-bernardo,2000-01-01,1,1,4,4,153,7,4,2,82,3,2367.968991,1478.593276
134,hugo-armando,marc-canovas-martos,2000-01-01,1,1,5,3,153,81,5,2,82,35,2862.933299,1855.836173
135,hugo-armando,oren-motevassel,2000-01-01,1,1,6,6,153,89,6,1,82,43,3436.807809,1199.863268
136,hugo-armando,pablo-bianchi,2000-01-01,1,1,7,5,153,76,7,2,82,19,4083.579254,1803.769656
166,alexander-waske,hugo-armando,2000-01-01,1,1,13,4,286,100,11,1,173,55,7835.635826,4084.607085
8198,david-nalbandian,hugo-armando,2000-03-13,1,1,6,5,218,100,6,2,152,55,3401.719252,4282.675257
10358,hugo-armando,levar-harper-griffith,2000-03-27,1,1,8,1,153,117,8,1,82,61,4998.678235,1501.208810
10372,bjorn-rehnquist,hugo-armando,2000-03-27,1,1,11,6,274,100,8,3,155,55,4518.643292,5285.141214
14019,hugo-armando,michael-russell,2000-05-01,0,0,9,14,153,279,8,6,82,109,5980.231077,4672.365009
15693,hugo-armando,paul-goldstein,2000-05-08,0,0,10,19,153,187,8,9,82,78,6573.450537,9868.069098
20504,dusan-vemic,hugo-armando,2000-06-12,1,1,4,7,210,100,2,4,116,55,1492.705747,6942.641603
20512,hugo-armando,reginald-willems,2000-06-12,1,1,11,20,153,67,9,8,82,26,7684.046597,6626.591765
22401,hugo-armando,rogier-wassen,2000-06-26,0,0,12,27,153,165,9,9,82,79,8328.791010,10101.701513
24072,hugo-armando,olivier-mutis,2000-07-10,0,0,13,21,153,145,9,7,82,66,8958.961635,14930.650513

In [221]:
data = pd.read_csv("all_matches.csv")
data = data[data.year >= 2000]
data = data[data.masters >= 100]
data = data.loc[data["doubles"]=='f']
data = data.reset_index(drop=True)

/Users/nate.schimmoller/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,8,10,45,48) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [224]:
pd.set_option('display.max_rows', None)
test = data[((data['player_id'] == 'daniil-medvedev') | (data['opponent_id'] == 'daniil-medvedev')) & (data['tournament'] == 'winston-salem')]
test.sort_values(['round_num', 'start_date'])

,start_date,end_date,location,court_surface,prize_money,currency,year,player_id,player_name,opponent_id,opponent_name,tournament,round,num_sets,sets_won,games_won,games_against,tiebreaks_won,tiebreaks_total,serve_rating,aces,double_faults,first_serve_made,first_serve_attempted,first_serve_points_made,first_serve_points_attempted,second_serve_points_made,second_serve_points_attempted,break_points_saved,break_points_against,service_games_won,return_rating,first_serve_return_points_made,first_serve_return_points_attempted,second_serve_return_points_made,second_serve_return_points_attempted,break_points_made,break_points_attempted,return_games_played,service_points_won,service_points_attempted,return_points_won,return_points_attempted,total_points_won,total_points,duration,player_victory,retirement,seed,won_first_set,doubles,masters,round_num,nation
61750,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,D. Medvedev,mirza-basic,M. Basic,winston-salem,Round of 64,2.0,2.0,12.0,8.0,0.0,0.0,238.0,8.0,7.0,27.0,60.0,19.0,27.0,17.0,33.0,5.0,8.0,10.0,198.0,10.0,33.0,23.0,34.0,5.0,10.0,10.0,36.0,60.0,33.0,67.0,69.0,127.0,01:15:00,t,f,NaN,t,f,250,2,USA
62846,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,mirza-basic,M. Basic,daniil-medvedev,D. Medvedev,winston-salem,Round of 64,2.0,0.0,8.0,12.0,0.0,0.0,197.0,4.0,8.0,33.0,67.0,23.0,33.0,11.0,34.0,5.0,10.0,10.0,146.0,8.0,27.0,16.0,33.0,3.0,8.0,10.0,34.0,67.0,24.0,60.0,58.0,127.0,01:15:00,f,f,NaN,f,f,250,2,USA
164953,2017-08-20,2017-08-26,USA,Hard,664825.0,$,2017,daniil-medvedev,D. Medvedev,kyle-edmund,K. Edmund,winston-salem,Round of 32,3.0,1.0,14.0,15.0,0.0,1.0,257.0,10.0,13.0,61.0,94.0,44.0,61.0,15.0,33.0,8.0,11.0,14.0,133.0,19.0,57.0,19.0,39.0,3.0,10.0,14.0,59.0,94.0,38.0,96.0,97.0,190.0,02:11:00,f,f,15,t,f,250,3,USA
164993,2017-08-20,2017-08-26,USA,Hard,664825.0,$,2017,kyle-edmund,K. Edmund,daniil-medvedev,D. Medvedev,winston-salem,Round of 32,3.0,2.0,15.0,14.0,1.0,1.0,256.0,4.0,3.0,57.0,96.0,38.0,57.0,20.0,39.0,7.0,10.0,14.0,131.0,17.0,61.0,18.0,33.0,3.0,11.0,14.0,58.0,96.0,35.0,94.0,93.0,190.0,02:11:00,t,f,Q,f,f,250,3,USA
61442,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,alex-de-minaur,A. de Minaur,daniil-medvedev,D. Medvedev,winston-salem,Round of 32,2.0,0.0,6.0,12.0,0.0,0.0,212.0,2.0,4.0,39.0,73.0,24.0,39.0,15.0,34.0,11.0,15.0,9.0,121.0,7.0,31.0,15.0,28.0,1.0,3.0,9.0,39.0,73.0,22.0,59.0,61.0,132.0,01:30:00,f,f,15,f,f,250,3,USA
61720,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,D. Medvedev,alex-de-minaur,A. de Minaur,winston-salem,Round of 32,2.0,2.0,12.0,6.0,0.0,0.0,264.0,7.0,7.0,31.0,59.0,24.0,31.0,13.0,28.0,2.0,3.0,9.0,165.0,15.0,39.0,19.0,34.0,4.0,15.0,9.0,37.0,59.0,34.0,73.0,71.0,132.0,01:30:00,t,f,NaN,t,f,250,3,USA
61729,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,gilles-simon,Gilles Simon,winston-salem,Round of 32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,3,USA
61747,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,marton-fucsovics,Marton Fucsovics,winston-salem,Round of 32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,3,USA
61916,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,gilles-simon,Gilles Simon,daniil-medvedev,Daniil Medvedev,winston-salem,Round of 32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN,f,250,3,USA
62752,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,marton-fucsovics,Marton Fucsovics,daniil-medvedev,Daniil Medvedev,winston-salem,Round of 32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,3,USA
61628,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,borna-gojo,Borna Gojo,daniil-medvedev,Daniil Medvedev,winston-salem,Round of 16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WC,NaN,f,250,4,USA
61724,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,borna-gojo,Borna Gojo,winston-salem,Round of 16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,4,USA
61730,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,D. Medvedev,guido-andreozzi,G. Andreozzi,winston-salem,Round of 16,2.0,2.0,13.0,6.0,0.0,0.0,267.0,5.0,4.0,32.0,63.0,24.0,32.0,16.0,31.0,3.0,4.0,9.0,180.0,9.0,31.0,24.0,38.0,5.0,13.0,10.0,40.0,63.0,33.0,69.0,73.0,132.0,01:34:00,t,f,NaN,t,f,250,4,USA
61744,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,malek-jaziri,Malek Jaziri,winston-salem,Round of 16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,4,USA
61756,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,radu-albot,Radu Albot,winston-salem,Round of 16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,4,USA
61759,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,ryan-harrison,Ryan Harrison,winston-salem,Round of 16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,4,USA
61963,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,guido-andreozzi,G. Andreozzi,daniil-medvedev,D. Medvedev,winston-salem,Round of 16,2.0,0.0,6.0,13.0,0.0,0.0,202.0,3.0,4.0,31.0,69.0,22.0,31.0,14.0,38.0,8.0,13.0,10.0,109.0,8.0,32.0,15.0,31.0,1.0,4.0,9.0,36.0,69.0,23.0,63.0,59.0,132.0,01:34:00,f,f,LL,f,f,250,4,USA
62614,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,malek-jaziri,Malek Jaziri,daniil-medvedev,Daniil Medvedev,winston-salem,Round of 16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,4,USA
63128,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,radu-albot,Radu Albot,daniil-medvedev,Daniil Medvedev,winston-salem,Round of 16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q,NaN,f,250,4,USA
63271,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,ryan-harrison,Ryan Harrison,daniil-medvedev,Daniil Medvedev,winston-salem,Round of 16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,4,USA
61581,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,benoit-paire,Benoit Paire,daniil-medvedev,Daniil Medvedev,winston-salem,Quarter-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,5,USA
61723,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,benoit-paire,Benoit Paire,winston-salem,Quarter-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,5,USA
61727,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,filip-krajinovic,Filip Krajinovic,winston-salem,Quarter-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,5,USA
61735,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,jan-lennard-struff,Jan-Lennard Struff,winston-salem,Quarter-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,5,USA
61737,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,joao-sousa,Joao Sousa,winston-salem,Quarter-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,5,USA
61745,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,marco-cecchinato,Marco Cecchinato,winston-salem,Quarter-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,5,USA
61763,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,taylor-fritz,Taylor Fritz,winston-salem,Quarter-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,5,USA
61822,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,filip-krajinovic,Filip Krajinovic,daniil-medvedev,Daniil Medvedev,winston-salem,Quarter-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN,f,250,5,USA
62195,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,jan-lennard-struff,Jan-Lennard Struff,daniil-medvedev,Daniil Medvedev,winston-salem,Quarter-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,5,USA
62290,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,joao-sousa,Joao Sousa,daniil-medvedev,Daniil Medvedev,winston-salem,Quarter-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,5,USA
62659,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,marco-cecchinato,Marco Cecchinato,daniil-medvedev,Daniil Medvedev,winston-salem,Quarter-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,f,250,5,USA
63459,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,taylor-fritz,Taylor Fritz,daniil-medvedev,Daniil Medvedev,winston-salem,Quarter-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WC,NaN,f,250,5,USA
61487,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,andreas-seppi,Andreas Seppi,daniil-medvedev,Daniil Medvedev,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61675,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,brayden-schnur,Brayden Schnur,daniil-medvedev,Daniil Medvedev,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q,NaN,f,250,6,USA
61721,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,andreas-seppi,Andreas Seppi,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61725,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,brayden-schnur,Brayden Schnur,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61726,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,dominik-koepfer,Dominik Koepfer,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61738,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,john-millman,John Millman,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61741,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,laslo-djere,Laslo Djere,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61751,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,nicolas-jarry,Nicolas Jarry,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61757,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,ricardas-berankis,Ricardas Berankis,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61760,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,sam-querrey,Sam Querrey,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61761,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,steve-johnson,Steve Johnson,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61762,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,taro-daniel,Taro Daniel,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61764,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,tennys-sandgren,Tennys Sandgren,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61765,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,tommy-paul,Tommy Paul,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61774,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,dominik-koepfer,Dominik Koepfer,daniil-medvedev,Daniil Medvedev,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LL,NaN,f,250,6,USA
62332,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,john-millman,John Millman,daniil-medvedev,Daniil Medvedev,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
62473,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,laslo-djere,Laslo Djere,daniil-medvedev,Daniil Medvedev,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
62893,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,nicolas-jarry,Nicolas Jarry,daniil-medvedev,Daniil Medvedev,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN,f,250,6,USA
63176,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,ricardas-berankis,Ricardas Berankis,daniil-medvedev,Daniil Medvedev,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
63317,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,sam-querrey,Sam Querrey,daniil-medvedev,Daniil Medvedev,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,f,250,6,USA
63365,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,steve-johnson,Steve Johnson,daniil-medvedev,Daniil Medvedev,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN,f,250,6,USA
63412,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,taro-daniel,Taro Daniel,daniil-medvedev,Daniil Medvedev,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
63506,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,tennys-sandgren,Tennys Sandgren,daniil-medvedev,Daniil Medvedev,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
63554,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,tommy-paul,Tommy Paul,daniil-medvedev,Daniil Medvedev,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q,NaN,f,250,6,USA
61395,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,albert-ramos-vinolas,Albert Ramos-Vinolas,daniil-medvedev,Daniil Medvedev,winston-salem,Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,NaN,f,250,7,USA
61534,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,andrey-rublev,Andrey Rublev,daniil-medvedev,Daniil Medvedev,winston-salem,Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11 WC,NaN,f,250,7,USA
61719,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,albert-ramos-vinolas,Albert Ramos-Vinolas,winston-salem,Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,7,USA
61722,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,andrey-rublev,Andrey Rublev,winston-salem,Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,7,USA
61728,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,franko-skugor,Franko Skugor,winston-salem,Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,7,USA
61731,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,guido-pella,Guido Pella,winston-salem,Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,7,USA
61732,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,guillermo-garcia-lopez,Guillermo Garcia-Lopez,winston-salem,Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,7,USA

In [226]:
pd.set_option('display.max_columns', None)
data['start_date'] = pd.to_datetime(data['start_date'])
test = data[((data['player_id'] == 'daniil-medvedev') | (data['opponent_id'] == 'daniil-medvedev')) 
            & (data['tournament'] == 'winston-salem') 
            & (data['start_date'].dt.year == 2018)]
test.sort_values(['round_num', 'start_date'])

,start_date,end_date,location,court_surface,prize_money,currency,year,player_id,player_name,opponent_id,opponent_name,tournament,round,num_sets,sets_won,games_won,games_against,tiebreaks_won,tiebreaks_total,serve_rating,aces,double_faults,first_serve_made,first_serve_attempted,first_serve_points_made,first_serve_points_attempted,second_serve_points_made,second_serve_points_attempted,break_points_saved,break_points_against,service_games_won,return_rating,first_serve_return_points_made,first_serve_return_points_attempted,second_serve_return_points_made,second_serve_return_points_attempted,break_points_made,break_points_attempted,return_games_played,service_points_won,service_points_attempted,return_points_won,return_points_attempted,total_points_won,total_points,duration,player_victory,retirement,seed,won_first_set,doubles,masters,round_num,nation
61750,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,D. Medvedev,mirza-basic,M. Basic,winston-salem,Round of 64,2.0,2.0,12.0,8.0,0.0,0.0,238.0,8.0,7.0,27.0,60.0,19.0,27.0,17.0,33.0,5.0,8.0,10.0,198.0,10.0,33.0,23.0,34.0,5.0,10.0,10.0,36.0,60.0,33.0,67.0,69.0,127.0,01:15:00,t,f,NaN,t,f,250,2,USA
62846,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,mirza-basic,M. Basic,daniil-medvedev,D. Medvedev,winston-salem,Round of 64,2.0,0.0,8.0,12.0,0.0,0.0,197.0,4.0,8.0,33.0,67.0,23.0,33.0,11.0,34.0,5.0,10.0,10.0,146.0,8.0,27.0,16.0,33.0,3.0,8.0,10.0,34.0,67.0,24.0,60.0,58.0,127.0,01:15:00,f,f,NaN,f,f,250,2,USA
61442,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,alex-de-minaur,A. de Minaur,daniil-medvedev,D. Medvedev,winston-salem,Round of 32,2.0,0.0,6.0,12.0,0.0,0.0,212.0,2.0,4.0,39.0,73.0,24.0,39.0,15.0,34.0,11.0,15.0,9.0,121.0,7.0,31.0,15.0,28.0,1.0,3.0,9.0,39.0,73.0,22.0,59.0,61.0,132.0,01:30:00,f,f,15,f,f,250,3,USA
61720,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,D. Medvedev,alex-de-minaur,A. de Minaur,winston-salem,Round of 32,2.0,2.0,12.0,6.0,0.0,0.0,264.0,7.0,7.0,31.0,59.0,24.0,31.0,13.0,28.0,2.0,3.0,9.0,165.0,15.0,39.0,19.0,34.0,4.0,15.0,9.0,37.0,59.0,34.0,73.0,71.0,132.0,01:30:00,t,f,NaN,t,f,250,3,USA
61729,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,gilles-simon,Gilles Simon,winston-salem,Round of 32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,3,USA
61747,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,marton-fucsovics,Marton Fucsovics,winston-salem,Round of 32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,3,USA
61916,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,gilles-simon,Gilles Simon,daniil-medvedev,Daniil Medvedev,winston-salem,Round of 32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN,f,250,3,USA
62752,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,marton-fucsovics,Marton Fucsovics,daniil-medvedev,Daniil Medvedev,winston-salem,Round of 32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,3,USA
61628,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,borna-gojo,Borna Gojo,daniil-medvedev,Daniil Medvedev,winston-salem,Round of 16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WC,NaN,f,250,4,USA
61724,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,borna-gojo,Borna Gojo,winston-salem,Round of 16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,4,USA
61730,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,D. Medvedev,guido-andreozzi,G. Andreozzi,winston-salem,Round of 16,2.0,2.0,13.0,6.0,0.0,0.0,267.0,5.0,4.0,32.0,63.0,24.0,32.0,16.0,31.0,3.0,4.0,9.0,180.0,9.0,31.0,24.0,38.0,5.0,13.0,10.0,40.0,63.0,33.0,69.0,73.0,132.0,01:34:00,t,f,NaN,t,f,250,4,USA
61744,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,malek-jaziri,Malek Jaziri,winston-salem,Round of 16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,4,USA
61756,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,radu-albot,Radu Albot,winston-salem,Round of 16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,4,USA
61759,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,ryan-harrison,Ryan Harrison,winston-salem,Round of 16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,4,USA
61963,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,guido-andreozzi,G. Andreozzi,daniil-medvedev,D. Medvedev,winston-salem,Round of 16,2.0,0.0,6.0,13.0,0.0,0.0,202.0,3.0,4.0,31.0,69.0,22.0,31.0,14.0,38.0,8.0,13.0,10.0,109.0,8.0,32.0,15.0,31.0,1.0,4.0,9.0,36.0,69.0,23.0,63.0,59.0,132.0,01:34:00,f,f,LL,f,f,250,4,USA
62614,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,malek-jaziri,Malek Jaziri,daniil-medvedev,Daniil Medvedev,winston-salem,Round of 16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,4,USA
63128,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,radu-albot,Radu Albot,daniil-medvedev,Daniil Medvedev,winston-salem,Round of 16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q,NaN,f,250,4,USA
63271,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,ryan-harrison,Ryan Harrison,daniil-medvedev,Daniil Medvedev,winston-salem,Round of 16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,4,USA
61581,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,benoit-paire,Benoit Paire,daniil-medvedev,Daniil Medvedev,winston-salem,Quarter-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,5,USA
61723,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,benoit-paire,Benoit Paire,winston-salem,Quarter-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,5,USA
61727,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,filip-krajinovic,Filip Krajinovic,winston-salem,Quarter-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,5,USA
61735,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,jan-lennard-struff,Jan-Lennard Struff,winston-salem,Quarter-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,5,USA
61737,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,joao-sousa,Joao Sousa,winston-salem,Quarter-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,5,USA
61745,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,marco-cecchinato,Marco Cecchinato,winston-salem,Quarter-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,5,USA
61763,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,taylor-fritz,Taylor Fritz,winston-salem,Quarter-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,5,USA
61822,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,filip-krajinovic,Filip Krajinovic,daniil-medvedev,Daniil Medvedev,winston-salem,Quarter-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN,f,250,5,USA
62195,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,jan-lennard-struff,Jan-Lennard Struff,daniil-medvedev,Daniil Medvedev,winston-salem,Quarter-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,5,USA
62290,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,joao-sousa,Joao Sousa,daniil-medvedev,Daniil Medvedev,winston-salem,Quarter-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,5,USA
62659,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,marco-cecchinato,Marco Cecchinato,daniil-medvedev,Daniil Medvedev,winston-salem,Quarter-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,f,250,5,USA
63459,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,taylor-fritz,Taylor Fritz,daniil-medvedev,Daniil Medvedev,winston-salem,Quarter-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WC,NaN,f,250,5,USA
61487,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,andreas-seppi,Andreas Seppi,daniil-medvedev,Daniil Medvedev,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61675,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,brayden-schnur,Brayden Schnur,daniil-medvedev,Daniil Medvedev,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q,NaN,f,250,6,USA
61721,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,andreas-seppi,Andreas Seppi,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61725,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,brayden-schnur,Brayden Schnur,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61726,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,dominik-koepfer,Dominik Koepfer,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61738,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,john-millman,John Millman,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61741,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,laslo-djere,Laslo Djere,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61751,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,nicolas-jarry,Nicolas Jarry,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61757,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,ricardas-berankis,Ricardas Berankis,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61760,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,sam-querrey,Sam Querrey,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61761,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,steve-johnson,Steve Johnson,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61762,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,taro-daniel,Taro Daniel,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61764,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,tennys-sandgren,Tennys Sandgren,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61765,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,tommy-paul,Tommy Paul,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
61774,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,dominik-koepfer,Dominik Koepfer,daniil-medvedev,Daniil Medvedev,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LL,NaN,f,250,6,USA
62332,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,john-millman,John Millman,daniil-medvedev,Daniil Medvedev,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
62473,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,laslo-djere,Laslo Djere,daniil-medvedev,Daniil Medvedev,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
62893,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,nicolas-jarry,Nicolas Jarry,daniil-medvedev,Daniil Medvedev,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN,f,250,6,USA
63176,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,ricardas-berankis,Ricardas Berankis,daniil-medvedev,Daniil Medvedev,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
63317,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,sam-querrey,Sam Querrey,daniil-medvedev,Daniil Medvedev,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,f,250,6,USA
63365,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,steve-johnson,Steve Johnson,daniil-medvedev,Daniil Medvedev,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN,f,250,6,USA
63412,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,taro-daniel,Taro Daniel,daniil-medvedev,Daniil Medvedev,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
63506,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,tennys-sandgren,Tennys Sandgren,daniil-medvedev,Daniil Medvedev,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,6,USA
63554,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,tommy-paul,Tommy Paul,daniil-medvedev,Daniil Medvedev,winston-salem,Semi-Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q,NaN,f,250,6,USA
61395,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,albert-ramos-vinolas,Albert Ramos-Vinolas,daniil-medvedev,Daniil Medvedev,winston-salem,Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,NaN,f,250,7,USA
61534,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,andrey-rublev,Andrey Rublev,daniil-medvedev,Daniil Medvedev,winston-salem,Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11 WC,NaN,f,250,7,USA
61719,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,albert-ramos-vinolas,Albert Ramos-Vinolas,winston-salem,Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,7,USA
61722,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,andrey-rublev,Andrey Rublev,winston-salem,Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,7,USA
61728,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,franko-skugor,Franko Skugor,winston-salem,Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,7,USA
61731,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,guido-pella,Guido Pella,winston-salem,Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,7,USA
61732,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,guillermo-garcia-lopez,Guillermo Garcia-Lopez,winston-salem,Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,7,USA
61733,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,horacio-zeballos,Horacio Zeballos,winston-salem,Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,7,USA
61734,2018-08-19,2018-08-25,USA,Hard,691415.0,$,2018,daniil-medvedev,Daniil Medvedev,hyeon-chung,Hyeon Chung,winston-salem,Finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,250,7,USA

In [206]:
print(matches_df.iloc[175057].to_string())

start_date                                          2018-08-19
end_date                                            2018-08-25
location                                                   USA
court_surface                                             Hard
prize_money                                           691415.0
currency                                                     $
year                                                      2018
player_id                                      daniil-medvedev
player_name                                    Daniil Medvedev
opponent_id                               nikoloz-basilashvili
opponent_name                             Nikoloz Basilashvili
tournament                                       winston-salem
round                                                   Finals
num_sets                                                   NaN
doubles                                                      f
masters                                                    250
round_num                                                    7
duration                                                   NaN
total_points                                               NaN
sets_won_1                                                 NaN
games_won_1                                                NaN
games_against_1                                            NaN
tiebreaks_won_1                                            NaN
tiebreaks_total                                            NaN
serve_rating_1                                             NaN
aces_1                                                     NaN
double_faults_1                                            NaN
first_serve_made_1                                         NaN
first_serve_attempted_1                                    NaN
first_serve_points_made_1                                  NaN
first_serve_points_attempted_1                             NaN
second_serve_points_made_1                                 NaN
second_serve_points_attempted_1                            NaN
break_points_saved_1                                       NaN
break_points_against_1                                     NaN
service_games_won_1                                        NaN
return_rating_1                                            NaN
first_serve_return_points_made_1                           NaN
first_serve_return_points_attempted_1                      NaN
second_serve_return_points_made_1                          NaN
second_serve_return_points_attempted_1                     NaN
break_points_made_1                                        NaN
break_points_attempted_1                                   NaN
return_games_played_1                                      NaN
service_points_won_1                                       NaN
service_points_attempted_1                                 NaN
return_points_won_1                                        NaN
return_points_attempted_1                                  NaN
total_points_won_1                                         NaN
player_1_victory                                           NaN
retirement_1                                               NaN
seed_1                                                     NaN
won_first_set_1                                            NaN
nation_1                                                   USA
sets_won_2                                                 NaN
games_won_2                                                NaN
games_against_2                                            NaN
tiebreaks_won_2                                            NaN
serve_rating_2                                             NaN
aces_2                                                     NaN
double_faults_2                                            NaN
first_serve_made_2                                         NaN
first_serve_attempted_2                                    NaN
first_serve_points_made_2                                  NaN
first_serve_points_attempted_2                             NaN
second_serve_points_made_2                                 NaN
second_serve_points_attempted_2                            NaN
break_points_saved_2                                       NaN
break_points_against_2                                     NaN
service_games_won_2                                        NaN
return_rating_2                                            NaN
first_serve_return_points_made_2                           NaN
first_serve_return_points_attempted_2                      NaN
second_serve_return_points_made_2                          NaN
second_serve_return_points_attempted_2                     NaN
break_points_made_2                                        NaN
break_points_attempted_2                                   NaN
return_games_played_2                                      NaN
service_points_won_2                                       NaN
service_points_attempted_2                                 NaN
return_points_won_2                                        NaN
return_points_attempted_2                                  NaN
total_points_won_2                                         NaN
player_2_victory                                           NaN
retirement_2                                               NaN
won_first_set_2                                            NaN
nation_2                                                   USA
elo_1                                                      NaN
elo_2                                                      NaN
matches_played                                               1
player_1_running_total_matches_played                      163
player_2_running_total_matches_played                      258
player_1_total_matches_played                              202
player_2_total_matches_played                              290
player_1_total_running_victories                           NaN
player_2_total_running_victories                           NaN
player_1_total_victories                                 103.0
player_2_total_victories                                 129.0

In [107]:
%run -i 'Features_Extraction_ELO_Rankings_mp2.py'

Reading in files from checkpoint
Elapsed time since last call: 102.29859805107117
Resuming from last processed row: 0

RuntimeError: SynchronizedArray objects should only be shared between processes through inheritance

In [90]:
elo_calc(1528.548122, 1597.662654, 1, 0, 221, 5, initial_elo=1500)

(1545.6531146630289, 1538.1284888474727, 1, 0)

In [15]:
matches_df.head()

,start_date,end_date,location,court_surface,prize_money,currency,year,player_id,player_name,opponent_id,...,service_points_attempted_2,return_points_won_2,return_points_attempted_2,total_points_won_2,player_2_victory,retirement_2,won_first_set_2,nation_2,elo_1,elo_2
0,2000-01-17,2000-01-30,Australia,Hard,3864414.0,$,2000,andrew-ilie,A. Ilie,jiri-novak,...,139.0,45.0,139.0,131.0,f,f,f,Australia,1500.0,1500.0
1,2000-01-17,2000-01-30,Australia,Hard,3864414.0,$,2000,fernando-vicente,F. Vicente,todd-martin,...,136.0,46.0,132.0,136.0,f,f,f,Australia,1500.0,1500.0
2,2000-01-17,2000-01-30,Australia,Hard,3864414.0,$,2000,fernando-vicente,F. Vicente,hicham-arazi,...,83.0,36.0,76.0,92.0,t,f,t,Australia,NaN,1500.0
3,2000-01-17,2000-01-30,Australia,Hard,3864414.0,$,2000,fernando-meligeni,F. Meligeni,tomas-behrend,...,132.0,66.0,153.0,160.0,t,f,t,Australia,1500.0,1500.0
4,2000-01-17,2000-01-30,Australia,Hard,3864414.0,$,2000,felix-mantilla,F. Mantilla,mariano-zabaleta,...,111.0,64.0,146.0,139.0,t,f,t,Australia,1500.0,1500.0

In [16]:
def search_rows2(start_row,player_id,data):
    k = start_row
    m = None
    last_elo = None
    victory = None
    for step in steps:
        j = k - step
        if j < 0 :
            j = 0
        temp = data.iloc[j:k+1]
        temp = temp.loc[((temp['player_id']==player_id)&(temp['elo_1'] !=0))|((temp['opponent_id']==player_id)&(temp['elo_2']!=0))]
        if len(temp) == 0:
            continue
        if temp.iloc[-1]['player_id'] == player_id:
            m = temp.iloc[-1]['m_1']
            last_elo = temp.iloc[-1]['elo_1']
            victory = temp.iloc[-1]['player_1_victory']
        if temp.iloc[-1]['opponent_id'] == player_id:
            m = temp.iloc[-1]['m_2']
            last_elo = temp.iloc[-1]['elo_2']
            victory = temp.iloc[-1]['player_2_victory']
        if victory == 't':
            victory = 1
        if victory == 'f':
            victory = 0
        break
        print(m,last_elo,victory)
    return m,last_elo,victory

In [31]:
print(copy_2.iloc[0]['player_id'])

andrew-ilie

In [32]:
#compute elo rankings
#from 0 to 20000 using first function search_rows
#from 20 000 using second function search_rows2
for i in range(0,len(copy)):
    elo = None
    player_id = None
    copy_2 = copy[:5]
    if copy_2.iloc[i]['elo_1'] == 0:
        #compute elo
        player_id = copy2.iloc[i]['player_id']
        print(player_id)
        m_1,elo_1,w_1 = search_rows2(i,player_id,copy2)
        print(m1)
        print(elo_1)
        print(w_1)
        opponent = copy.iloc[i]['opponent_id']
        m_2,elo_2,w_2 = search_rows2(i,opponent,copy)
        elo = elo_calc(elo_1,elo_2,m_1,w_1)
        matches_df.at[i,'elo_1'] = elo
        elo = None
        player_id = None
        m_1 = None
        opponent = None
        m_2 = None
        w_2 = None
        elo_2 = None
        elo_1 = None
        w_1 = None
        
    if copy.iloc[i]['elo_2'] == 0:
        player_id = copy.iloc[i]['opponent_id']
        m_2,elo_2,w_2 = search_rows2(i,player_id,copy)
        opponent = copy.iloc[i]['player_id']
        m_1,elo_1,w_1 = search_rows2(i,opponent,copy)
        elo = elo_calc(elo_2,elo_1,m_2,w_2)
        matches_df.at[i,'elo_2'] = elo
        elo = None
        player_id = None
        m_1 = None
        opponent = None
        m_2 = None
        w_2 = None
        elo_2 = None
        elo_1 = None
        w_1 = None
    #update copy
    copy['elo_1'] = matches_df['elo_1']
    copy['elo_2'] = matches_df['elo_2']
    print(copy)

           player_id       opponent_id  start_date player_1_victory  \
0        andrew-ilie        jiri-novak  2000-01-17                t
1   fernando-vicente       todd-martin  2000-01-17                t
2   fernando-vicente      hicham-arazi  2000-01-17                f
3  fernando-meligeni     tomas-behrend  2000-01-17                f
4     felix-mantilla  mariano-zabaleta  2000-01-17                f

  player_2_victory   elo_1   elo_2  m_1  m_2
0                f  1500.0  1500.0   63  204
1                f  1500.0  1500.0  403   97
2                t     NaN  1500.0  403  129
3                t  1500.0  1500.0   69  267
4                t  1500.0  1500.0  116  213
           player_id       opponent_id  start_date player_1_victory  \
0        andrew-ilie        jiri-novak  2000-01-17                t
1   fernando-vicente       todd-martin  2000-01-17                t
2   fernando-vicente      hicham-arazi  2000-01-17                f
3  fernando-meligeni     tomas-behrend  2000-01-17                f
4     felix-mantilla  mariano-zabaleta  2000-01-17                f

  player_2_victory   elo_1   elo_2  m_1  m_2
0                f  1500.0  1500.0   63  204
1                f  1500.0  1500.0  403   97
2                t     NaN  1500.0  403  129
3                t  1500.0  1500.0   69  267
4                t  1500.0  1500.0  116  213
           player_id       opponent_id  start_date player_1_victory  \
0        andrew-ilie        jiri-novak  2000-01-17                t
1   fernando-vicente       todd-martin  2000-01-17                t
2   fernando-vicente      hicham-arazi  2000-01-17                f
3  fernando-meligeni     tomas-behrend  2000-01-17                f
4     felix-mantilla  mariano-zabaleta  2000-01-17                f

  player_2_victory   elo_1   elo_2  m_1  m_2
0                f  1500.0  1500.0   63  204
1                f  1500.0  1500.0  403   97
2                t     NaN  1500.0  403  129
3                t  1500.0  1500.0   69  267
4                t  1500.0  1500.0  116  213
           player_id       opponent_id  start_date player_1_victory  \
0        andrew-ilie        jiri-novak  2000-01-17                t
1   fernando-vicente       todd-martin  2000-01-17                t
2   fernando-vicente      hicham-arazi  2000-01-17                f
3  fernando-meligeni     tomas-behrend  2000-01-17                f
4     felix-mantilla  mariano-zabaleta  2000-01-17                f

  player_2_victory   elo_1   elo_2  m_1  m_2
0                f  1500.0  1500.0   63  204
1                f  1500.0  1500.0  403   97
2                t     NaN  1500.0  403  129
3                t  1500.0  1500.0   69  267
4                t  1500.0  1500.0  116  213
           player_id       opponent_id  start_date player_1_victory  \
0        andrew-ilie        jiri-novak  2000-01-17                t
1   fernando-vicente       todd-martin  2000-01-17                t
2   fernando-vicente      hicham-arazi  2000-01-17                f
3  fernando-meligeni     tomas-behrend  2000-01-17                f
4     felix-mantilla  mariano-zabaleta  2000-01-17                f

  player_2_victory   elo_1   elo_2  m_1  m_2
0                f  1500.0  1500.0   63  204
1                f  1500.0  1500.0  403   97
2                t     NaN  1500.0  403  129
3                t  1500.0  1500.0   69  267
4                t  1500.0  1500.0  116  213

In [9]:
data_dict['Clay']
matches_df[(matches_df['elo_1'].isna() == False) & (matches_df['elo_1'] < 1500)][['player_id','elo_1','opponent_id','elo_2']]

Empty DataFrame
Columns: [player_id, elo_1, opponent_id, elo_2]
Index: []

In [10]:
def search_rows(start_row: int, player_id: str, data: pd.DataFrame, steps: List[int], search_cache: Dict[Tuple[int, str], Tuple[Optional[int], Optional[int], Optional[int]]]) -> Tuple[Optional[int], Optional[int], Optional[int]]:
    """
    Searches the rows of a pandas DataFrame containing chess data for a given player ID and starting row. The function 
    returns information about the player's match history, such as the number of moves played, the player's Elo rating 
    after the last game played, and whether the player won or lost the last game played.

    Args:
        start_row (int): The starting row for the search. This is the row number of the DataFrame where the search will 
            begin.
        player_id (str): The ID of the player to search for.
        data (pd.DataFrame): The pandas DataFrame containing the chess data.
        steps (List[int]): A list of integers representing the number of rows to step back in each iteration of the search.
        search_cache (Dict[Tuple[int, str], Tuple[Optional[int], Optional[int], Optional[int]]]): A dictionary containing 
            cached search results. The keys are tuples containing the starting row number and player ID, and the values 
            are tuples containing the search results for that combination of starting row number and player ID.

    Returns:
        Tuple[Optional[int], Optional[int], Optional[int]]: A tuple containing information about the player's match 
            history. The first element is the number of moves played in the player's last game. The second element is 
            the player's Elo rating after the last game played. The third element is an integer representing whether 
            the player won (1), lost (0), or tied (None) the last game played.
    """
    cache_key = (start_row, player_id)
    if cache_key in search_cache:
        return search_cache[cache_key]
    
    m, last_elo, victory = None, None, None
    for step in steps:
        j = max(start_row - step, 0)
        temp = data.loc[((data['player_id'] == player_id) & (data['elo_1'] != 0))
                        | ((data['opponent_id'] == player_id) & (data['elo_2'] != 0))
                        , ['m_1', 'elo_1', 'm_2', 'elo_2', 'player_1_victory', 'player_2_victory']
                        ].iloc[j:start_row + 1]
        if not temp.empty:
            row = temp.iloc[-1]
            if row['player_id'] == player_id:
                m = row['m_1']
                last_elo = row['elo_1']
                victory = row['player_1_victory']
            else:
                m = row['m_2']
                last_elo = row['elo_2']
                victory = row['player_2_victory']
            victory = 1 if victory == 't' else 0 if victory == 'f' else None
            if victory is not None:
                break

    result = m, last_elo, victory
    search_cache[cache_key] = result
    return result

In [11]:
def compute_elo_ratings(matches_df, steps=100, search_cache=None, print_progress=True):
    """
    Compute Elo ratings for each player based on their match history.
    
    Args:
    - matches_df: Pandas DataFrame containing match data, including columns for player_id, opponent_id, 
      elo_1, elo_2, and date.
    - steps: Number of iterations to use when computing the Elo rating.
    - search_cache: Optional dict of cached search results, to speed up computation.
    
    Returns:
    - A copy of matches_df with updated Elo ratings.
    """
    # Create a copy of the dataframe to store the updated Elo ratings
    updated_df = matches_df.copy()
    
    # Loop over the rows in the dataframe
    modified_rows = []
    for i, row in updated_df.iterrows():
        print(row[['player_id', 'elo_1', 'opponent_id', 'elo_2']])
        # Check if either player's rating is 0
        if row['elo_1'] == 0 or row['elo_2'] == 0:
            # Compute the Elo ratings for both players
            player_1_id = row['player_id']
            player_2_id = row['opponent_id']
            m_1, elo_1, w_1 = search_rows(i, player_1_id, updated_df, steps, search_cache)
            m_2, elo_2, w_2 = search_rows(i, player_2_id, updated_df, steps, search_cache)
            if row['elo_1'] == 0:
                updated_df.at[i, 'elo_1'] = elo_calc(elo_1, elo_2, m_1, w_1)
            if row['elo_2'] == 0:
                updated_df.at[i, 'elo_2'] = elo_calc(elo_2, elo_1, m_2, w_2)
            modified_rows.append(i)

        # If 100 rows have been modified, update the copy of the dataframe
        if len(modified_rows) >= 100:
            updated_df.loc[modified_rows, ['elo_1', 'elo_2']] = updated_df.loc[modified_rows, ['elo_1', 'elo_2']]
            modified_rows = []

        # Print progress every 1000 rows
        if print_progress:
            if i % 1000 == 0:
                print(f"Processed {i} rows")

    # Update the final copy of the dataframe
    if len(modified_rows) > 0:
        updated_df.loc[modified_rows, ['elo_1', 'elo_2']] = updated_df.loc[modified_rows, ['elo_1', 'elo_2']]

    return updated_df

In [12]:
matches_df = compute_elo_ratings(matches_df[:5], steps, matches_cache)

player_id      andrew-ilie
elo_1               1500.0
opponent_id     jiri-novak
elo_2               1500.0
Name: 0, dtype: object
Processed 0 rows
player_id      fernando-vicente
elo_1                    1500.0
opponent_id         todd-martin
elo_2                    1500.0
Name: 1, dtype: object
player_id      fernando-vicente
elo_1                       NaN
opponent_id        hicham-arazi
elo_2                    1500.0
Name: 2, dtype: object
player_id      fernando-meligeni
elo_1                     1500.0
opponent_id        tomas-behrend
elo_2                     1500.0
Name: 3, dtype: object
player_id        felix-mantilla
elo_1                    1500.0
opponent_id    mariano-zabaleta
elo_2                    1500.0
Name: 4, dtype: object

In [6]:
players_list = pd.read_csv('players_data_1.csv')
players_list = players_list['player_id']
players_list = players_list.to_list()
players_list


# In[8]:
print("1")

#load matches data
matches_df = pd.read_csv('final_df.csv', parse_dates=True)

print("2")
# In[41]:


# Get a unique list of all players in the DataFrame
players_list = pd.unique(matches_df[['player_id', 'opponent_id']].values.ravel())
print("3")

# Group the DataFrame by player_id and opponent_id columns and sort each group by start_date
grouped = matches_df.groupby(['player_id', 'opponent_id'], group_keys=False, sort=False).apply(lambda x: x.sort_values(by='start_date'))
print("4")

1
2
3
4

In [26]:
import pandas as pd
import numpy as np
from helper_functions import print_elapsed_time

matches_df = pd.read_csv('final_df.csv', parse_dates=True)

Calculating ELO rankings
Elapsed time since last call: 54.20333504676819
(176193, ['andrew-ilie', 'fernando-vicente', 'fernando-vicente', 'fernando-meligeni', 'felix-mantilla'])

TypeError: unhashable type: 'list'

In [37]:

# Load the matches data
matches_df = pd.read_csv('final_df.csv')


matches_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176194 entries, 0 to 176193
Data columns (total 89 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   start_date                              176194 non-null  object
 1   end_date                                176147 non-null  object
 2   location                                176194 non-null  object
 3   court_surface                           176194 non-null  object
 4   prize_money                             176068 non-null  float64
 5   currency                                176068 non-null  object
 6   year                                    176194 non-null  int64
 7   player_id                               176194 non-null  object
 8   player_name                             131527 non-null  object
 9   opponent_id                             176194 non-null  object
 10  opponent_name                           131527 non-null  object
 11  tournament                              176194 non-null  object
 12  round                                   176194 non-null  object
 13  num_sets                                175108 non-null  float64
 14  doubles                                 176194 non-null  object
 15  masters                                 176194 non-null  int64
 16  round_num                               176194 non-null  int64
 17  duration                                130438 non-null  object
 18  total_points                            130441 non-null  float64
 19  sets_won_1                              175108 non-null  float64
 20  games_won_1                             175108 non-null  float64
 21  games_against_1                         175108 non-null  float64
 22  tiebreaks_won_1                         175108 non-null  float64
 23  tiebreaks_total                         175108 non-null  float64
 24  serve_rating_1                          130441 non-null  float64
 25  aces_1                                  130441 non-null  float64
 26  double_faults_1                         130441 non-null  float64
 27  first_serve_made_1                      130441 non-null  float64
 28  first_serve_attempted_1                 130441 non-null  float64
 29  first_serve_points_made_1               130441 non-null  float64
 30  first_serve_points_attempted_1          130441 non-null  float64
 31  second_serve_points_made_1              130441 non-null  float64
 32  second_serve_points_attempted_1         130441 non-null  float64
 33  break_points_saved_1                    130441 non-null  float64
 34  break_points_against_1                  130441 non-null  float64
 35  service_games_won_1                     130441 non-null  float64
 36  return_rating_1                         130441 non-null  float64
 37  first_serve_return_points_made_1        130441 non-null  float64
 38  first_serve_return_points_attempted_1   130441 non-null  float64
 39  second_serve_return_points_made_1       130441 non-null  float64
 40  second_serve_return_points_attempted_1  130441 non-null  float64
 41  break_points_made_1                     130441 non-null  float64
 42  break_points_attempted_1                130441 non-null  float64
 43  return_games_played_1                   130441 non-null  float64
 44  service_points_won_1                    130441 non-null  float64
 45  service_points_attempted_1              130441 non-null  float64
 46  return_points_won_1                     130441 non-null  float64
 47  return_points_attempted_1               130441 non-null  float64
 48  total_points_won_1                      130441 non-null  float64
 49  player_1_victory                        175108 non-null  object
 50  retirement_1                            175108 non-null  object
 51  seed_1                                  94086 non-null   object
 52  won_first_set_1                         174199 non-null  object
 53  nation_1                                176194 non-null  object
 54  sets_won_2                              175108 non-null  float64
 55  games_won_2                             175108 non-null  float64
 56  games_against_2                         175108 non-null  float64
 57  tiebreaks_won_2                         175108 non-null  float64
 58  serve_rating_2                          130440 non-null  float64
 59  aces_2                                  130440 non-null  float64
 60  double_faults_2                         130440 non-null  float64
 61  first_serve_made_2                      130440 non-null  float64
 62  first_serve_attempted_2                 130440 non-null  float64
 63  first_serve_points_made_2               130440 non-null  float64
 64  first_serve_points_attempted_2          130440 non-null  float64
 65  second_serve_points_made_2              130440 non-null  float64
 66  second_serve_points_attempted_2         130440 non-null  float64
 67  break_points_saved_2                    130440 non-null  float64
 68  break_points_against_2                  130440 non-null  float64
 69  service_games_won_2                     130440 non-null  float64
 70  return_rating_2                         130440 non-null  float64
 71  first_serve_return_points_made_2        130440 non-null  float64
 72  first_serve_return_points_attempted_2   130440 non-null  float64
 73  second_serve_return_points_made_2       130440 non-null  float64
 74  second_serve_return_points_attempted_2  130440 non-null  float64
 75  break_points_made_2                     130440 non-null  float64
 76  break_points_attempted_2                130440 non-null  float64
 77  return_games_played_2                   130440 non-null  float64
 78  service_points_won_2                    130440 non-null  float64
 79  service_points_attempted_2              130440 non-null  float64
 80  return_points_won_2                     130440 non-null  float64
 81  return_points_attempted_2               130440 non-null  float64
 82  total_points_won_2                      130440 non-null  float64
 83  player_2_victory                        175108 non-null  object
 84  retirement_2                            175108 non-null  object
 85  won_first_set_2                         174199 non-null  object
 86  nation_2                                176194 non-null  object
 87  elo_1                                   4854 non-null    float64
 88  elo_2                                   4862 non-null    float64
dtypes: float64(64), int64(3), object(22)
memory usage: 119.6+ MB

In [33]:
matches_df = pd.read_csv('final_df.csv')
matches_df = matches_df[:500]


# In[20]:


#check for missing values in the player_1_victory and player_2_victory columns, these columns are essential so every row
#with missing values has to be removed

matches_df[matches_df['player_2_victory'].isna()].index


# In[21]:


#removing these rows
index_remove = matches_df[matches_df['player_2_victory'].isna()].index
matches_df.drop(index=index_remove,inplace=True)

#check again
matches_df[matches_df['player_1_victory'].isna()].index

#calculations of elo are done on a separate copy of matches_df then transferred with each iteration to matches_df
copy = pd.DataFrame()
copy['player_id'] = matches_df['player_id']
copy['opponent_id'] = matches_df['opponent_id']
copy['start_date'] = matches_df['start_date']
copy['player_1_victory'] = matches_df['player_1_victory']
copy['player_2_victory'] = matches_df['player_2_victory']
copy['elo_1'] = matches_df['elo_1']
copy['elo_2'] = matches_df['elo_2']
copy

print(copy)

             player_id       opponent_id  start_date player_1_victory  \
0          andrew-ilie        jiri-novak  2000-01-17                t
1     fernando-vicente       todd-martin  2000-01-17                t
2     fernando-vicente      hicham-arazi  2000-01-17                f
3    fernando-meligeni     tomas-behrend  2000-01-17                f
4       felix-mantilla  mariano-zabaleta  2000-01-17                f
..                 ...               ...         ...              ...
495    rodolphe-cadart   todd-woodbridge  2000-02-28                f
496       phillip-king       yaoki-ishii  2000-02-28                t
497       phillip-king   werner-eschauer  2000-02-28                t
498       phillip-king   todd-woodbridge  2000-02-28                f
499     neville-godwin  reginald-willems  2000-02-28                t

    player_2_victory   elo_1   elo_2
0                  f  1500.0  1500.0
1                  f  1500.0  1500.0
2                  t     NaN  1500.0
3                  t  1500.0  1500.0
4                  t  1500.0  1500.0
..               ...     ...     ...
495                t     NaN     NaN
496                f     NaN     NaN
497                f     NaN     NaN
498                t     NaN     NaN
499                f     NaN     NaN

[500 rows x 7 columns]

In [36]:
#we pre-calculate the m's , m is the number of games played by a player in his career
m_1 = []
m_2 = []
def get_m(player_id,data,row):
    temp = data.iloc[:row]
    temp = temp.loc[(temp['player_id'] == player_id) | (temp['opponent_id']==player_id)]
    m = len(temp)
    return m

for i in range(1,len(copy)):
    m_1.append(get_m(copy.iloc[i]['player_id'],copy,i))
    m_2.append(get_m(copy.iloc[i]['opponent_id'],copy,i))

print(m_1[:10])
print(m_2[:10])
    
# In[41]:


m_1.insert(0,0)
m_2.insert(0,0)
print(m_1[:10])
print(m_2[:10])


# In[42]:


copy['m_1'] = m_1
copy['m_2'] = m_2
copy
print(copy)

[0, 1, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 1, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
             player_id       opponent_id  start_date player_1_victory  \
0          andrew-ilie        jiri-novak  2000-01-17                t
1     fernando-vicente       todd-martin  2000-01-17                t
2     fernando-vicente      hicham-arazi  2000-01-17                f
3    fernando-meligeni     tomas-behrend  2000-01-17                f
4       felix-mantilla  mariano-zabaleta  2000-01-17                f
..                 ...               ...         ...              ...
495    rodolphe-cadart   todd-woodbridge  2000-02-28                f
496       phillip-king       yaoki-ishii  2000-02-28                t
497       phillip-king   werner-eschauer  2000-02-28                t
498       phillip-king   todd-woodbridge  2000-02-28                f
499     neville-godwin  reginald-willems  2000-02-28                t

    player_2_victory   elo_1   elo_2  m_1  m_2
0                  f  1500.0  1500.0    0    0
1                  f  1500.0  1500.0    0    0
2                  t     NaN  1500.0    1    0
3                  t  1500.0  1500.0    0    0
4                  t  1500.0  1500.0    0    0
..               ...     ...     ...  ...  ...
495                t     NaN     NaN    5    4
496                f     NaN     NaN    2    2
497                f     NaN     NaN    3    6
498                t     NaN     NaN    4    5
499                f     NaN     NaN    3   11

[500 rows x 9 columns]

In [38]:
copy[copy['player_id'] == 'fernando-vicente']

,player_id,opponent_id,start_date,player_1_victory,player_2_victory,elo_1,elo_2,m_1,m_2
1,fernando-vicente,todd-martin,2000-01-17,t,f,1500.0,1500.0,0,0
2,fernando-vicente,hicham-arazi,2000-01-17,f,t,NaN,1500.0,1,0

In [41]:
for i in range(0,len(copy)):
    elo = None
    player_id = None
    if copy.iloc[i]['elo_1'] == 0:
        print("doing this")
        #compute elo
        player_id = copy.iloc[i]['player_id']
        m_1,elo_1,w_1 = search_rows2(i,player_id,copy)
        opponent = copy.iloc[i]['opponent_id']
        m_2,elo_2,w_2 = search_rows2(i,opponent,copy)
        elo = elo_calc(elo_1,elo_2,m_1,w_1)
        matches_df.at[i,'elo_1'] = elo
        elo = None
        player_id = None
        m_1 = None
        opponent = None
        m_2 = None
        w_2 = None
        elo_2 = None
        elo_1 = None
        w_1 = None
        
    if copy.iloc[i]['elo_2'] == 0:
        print("doing elo_2")
        player_id = copy.iloc[i]['opponent_id']
        m_2,elo_2,w_2 = search_rows2(i,player_id,copy)
        opponent = copy.iloc[i]['player_id']
        m_1,elo_1,w_1 = search_rows2(i,opponent,copy)
        elo = elo_calc(elo_2,elo_1,m_2,w_2)
        matches_df.at[i,'elo_2'] = elo
        elo = None
        player_id = None
        m_1 = None
        opponent = None
        m_2 = None
        w_2 = None
        elo_2 = None
        elo_1 = None
        w_1 = None
    #update copy
    print(matches_df[['elo_1', 'elo_2']])
    copy['elo_1'] = matches_df['elo_1']
    copy['elo_2'] = matches_df['elo_2']
    print(copy[['elo_1', 'elo_2']])

    print(i)

         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
0
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
1
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
2
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
3
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
4
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
5
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
6
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
7
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
8
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
9
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
10
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
11
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
12
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
13
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
14
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
15
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
16
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
17
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
18
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
19
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
20
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
21
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
22
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
23
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
24
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
25
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
26
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
27
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
28
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
29
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
30
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
31
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
32
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
33
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
34
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
35
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
36
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
37
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
38
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
39
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
40
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
41
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
42
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
43
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
44
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
45
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
46
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
47
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
48
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
49
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
50
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
51
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
52
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
53
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
54
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
55
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
56
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
57
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
58
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
59
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
60
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
61
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
62
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
63
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
64
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
65
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
66
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
67
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
68
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
69
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
70
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
71
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
72
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
73
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
74
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
75
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
76
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
77
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
78
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
79
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
80
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
81
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
82
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
83
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
84
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
85
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
86
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
87
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
88
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
89
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
90
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
91
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
92
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
93
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
94
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
95
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
96
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
97
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
98
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
99
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
100
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
101
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
102
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
103
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
104
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
105
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
106
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
107
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
108
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
109
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
110
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
111
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
112
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
113
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
114
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
115
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
116
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
117
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
118
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
119
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
120
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
121
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
122
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
123
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
124
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
125
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
126
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
127
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
128
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
129
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
130
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
131
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
132
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
133
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
134
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
135
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
136
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
137
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
138
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
139
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
140
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
141
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
142
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
143
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
144
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
145
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
146
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
147
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
148
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
149
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
150
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
151
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
152
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
153
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
154
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
155
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
156
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
157
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
158
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
159
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
160
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
161
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
162
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
163
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
164
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
165
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
166
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
167
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
168
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
169
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
170
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
171
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
172
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
173
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
174
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
175
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
176
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
177
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
178
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
179
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
180
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
181
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
182
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
183
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
184
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
185
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
186
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
187
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
188
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
189
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
190
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
191
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
192
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
193
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
194
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
195
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
196
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
197
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
198
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
199
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
200
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
201
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
202
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
203
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
204
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
205
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
206
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
207
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
208
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
209
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
210
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
211
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
212
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
213
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
214
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
215
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
216
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
217
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
218
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
219
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
220
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
221
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
222
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
223
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
224
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
225
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
226
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
227
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
228
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
229
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
230
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
231
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
232
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
233
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
234
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
235
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
236
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
237
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
238
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
239
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
240
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
241
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
242
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
243
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
244
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
245
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
246
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
247
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
248
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
249
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
250
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
251
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
252
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
253
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
254
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
255
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
256
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
257
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
258
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
259
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
260
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
261
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
262
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
263
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
264
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
265
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
266
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
267
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
268
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
269
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
270
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
271
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
272
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
273
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
274
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
275
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
276
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
277
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
278
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
279
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
280
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
281
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
282
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
283
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
284
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
285
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
286
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
287
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
288
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
289
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
290
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
291
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
292
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
293
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
294
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
295
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
296
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
297
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
298
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
299
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
300
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
301
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
302
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
303
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
304
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
305
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
306
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
307
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
308
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
309
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
310
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
311
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
312
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
313
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
314
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
315
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
316
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
317
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
318
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
319
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
320
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
321
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
322
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
323
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
324
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
325
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
326
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
327
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
328
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
329
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
330
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
331
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
332
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
333
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
334
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
335
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
336
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
337
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
338
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
339
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
340
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
341
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
342
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
343
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
344
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
345
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
346
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
347
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
348
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
349
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
350
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
351
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
352
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
353
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
354
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
355
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
356
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
357
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
358
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
359
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
360
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
361
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
362
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
363
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
364
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
365
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
366
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
367
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
368
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
369
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
370
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
371
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
372
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
373
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
374
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
375
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
376
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
377
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
378
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
379
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
380
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
381
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
382
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
383
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
384
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
385
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
386
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
387
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
388
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
389
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
390
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
391
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
392
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
393
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
394
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
395
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
396
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
397
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
398
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
399
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
400
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
401
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
402
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
403
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
404
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
405
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
406
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
407
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
408
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
409
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
410
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
411
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
412
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
413
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
414
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
415
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
416
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
417
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
418
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
419
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
420
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
421
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
422
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
423
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
424
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
425
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
426
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
427
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
428
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
429
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
430
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
431
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
432
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
433
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
434
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
435
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
436
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
437
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
438
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
439
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
440
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
441
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
442
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
443
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
444
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
445
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
446
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
447
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
448
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
449
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
450
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
451
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
452
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
453
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
454
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
455
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
456
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
457
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
458
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
459
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
460
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
461
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
462
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
463
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
464
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
465
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
466
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
467
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
468
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
469
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
470
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
471
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
472
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
473
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
474
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
475
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
476
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
477
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
478
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
479
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
480
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
481
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
482
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
483
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
484
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
485
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
486
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
487
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
488
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
489
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
490
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
491
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
492
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
493
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
494
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
495
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
496
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
497
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
498
         elo_1   elo_2
0       1500.0  1500.0
1       1500.0  1500.0
2          NaN  1500.0
3       1500.0  1500.0
4       1500.0  1500.0
...        ...     ...
176189     NaN     NaN
176190     NaN     NaN
176191     NaN     NaN
176192     NaN     NaN
176193     NaN     NaN

[176194 rows x 2 columns]
      elo_1   elo_2
0    1500.0  1500.0
1    1500.0  1500.0
2       NaN  1500.0
3    1500.0  1500.0
4    1500.0  1500.0
..      ...     ...
495     NaN     NaN
496     NaN     NaN
497     NaN     NaN
498     NaN     NaN
499     NaN     NaN

[500 rows x 2 columns]
499

In [39]:
matches_df = pd.read_csv('final_df.csv')
print(len(matches_df))

176194